#orcamento {
    background-image: linear-gradient(var(--cor-11) 700px, var(--cor-1) 0px);
}

.orcamento {
    grid-template-columns: 5fr 7fr;
    padding-bottom: 120px;
    display: grid;
}

.orcamento h2 {
    display: flex;
    align-items: center;
    position: relative;
    text-transform: uppercase;
}

.orcamento h2::before {
    display: inline-block;
    width: 4px;
    height: 8px;
    background: var(--cor-p1);
    margin-right: 8px;
    position: absolute;
    left: -12px;
    content: "";
}

.orcamento-produto,
.orcamento-dados {
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 60px;
}

.orcamento-produto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    gap: 20px;
    border-radius: 5px 0 0 5px;
    background: var(--cor-12) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 20px left 20px;
}

.orcamento-dados {
    border-radius: 0 5px 5px 0;
    background: var(--cor-0) url("../../img/dec/bottom-right.svg") no-repeat
    bottom 20px right 20px;
}

.orcamento-dados h2:nth-of-type(n + 2),
.orcamento-conteudo h2 {
    margin-top: 20px;
}

.orcamento-produto > * {
    grid-column: 1/-1;
}

.orcamento-produto > label {
    grid-column: initial;
}

.orcamento-seguro {
    margin-top: 20px;
}

.orcamento-conteudo {
    display: none;
}

[value="bikcraft"]:checked ~ #orcamento-bikcraft,
[value="seguro"]:checked ~ #orcamento-seguro {
    display: grid;
    gap: 20px;
}

.orcamento-detalhes {
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    background: var(--cor-0);
    padding: 20px;
    border-radius: 4px;
    align-items: center;
    display: none;
}

.orcamento-detalhes li {
    align-items: center;
    margin-bottom: 8px;
    display: flex;
}

.orcamento-detalhes li img {
    margin-right: 8px;
    width: 16px;
}

[type="radio"] {
    position: absolute;
    pointer-events: none;
    opacity: 0;
}

[type="radio"] + label {
    color: var(--cor-4);
    background: var(--cor-10);
    padding: 12px 16px;
    border-radius: 4px;
    cursor: pointer;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border: 1px solid var(--cor-10);
    font: 500 1rem/1.5 "Poppins", sans-serif;
}

[type="radio"] + label:hover {
    border-color: var(--cor-9);
    background: var(--cor-9);
}

[type="radio"] + label::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid var(--cor-6);
    border-radius: 50%;
    margin-right: 8px;
    box-sizing: border-box;
}

[type="radio"]:focus + label {
    border-color: var(--cor-12);
    box-shadow: 0 0 0 2px var(--cor-p1);
}

.orcamento-detalhes {
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    background: var(--cor-0);
    padding: 20px;
    border-radius: 4px;
    display: none;
}

[type="radio"] + label > span {
    display: none;
}

/* estilo marcado */
[type="radio"]:checked + label {
    border-color: var(--cor-0);
    color: var(--cor-11);
    background: var(--cor-0);
}

[type="radio"]:checked:focus + label {
    border-color: var(--cor-12);
}

[type="radio"]:checked + label::before {
    box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-7);
    border: 1px solid var(--cor-7);
}

[type="radio"]:checked + label > span {
    display: inline-block;  
}

[type="radio"]:checked + label + .orcamento-detalhes {
    display: grid;
}

@media (max-width: 1200px) {
    .orcamento-produto,
    .orcamento-dados {
    padding: 32px;
    }
}

@media (max-width: 800px) {
    .orcamento {
    grid-template-columns: 1fr;
    }
    .orcamento-produto {
    background: var(--cor-12);
    }
}

@media (max-width: 400px) {
    .orcamento-produto {
    grid-template-columns: 1fr;
    }
}
